body{
    background-color: #1B998B;
    margin-left: 1cm;
    
    text-align: justify;
            }

img{
    width: 40%;
    margin-left: 10px;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10%;
    
}
.header-foto p{
    border: 10px solid green;
    width: 40%;
    text-align: center;

    
}
.habilidades{
    width: 90%;
    display: flex   ;
    border: 10px solid blue;
    text-align: center;
    
}

.header-foto{
    border: 10px solid red;
    
    display: flex;
    width: 90%;
}
h1{
    text-align: center;
}
ul{
    list-style: none;
    text-align: center;
}